*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background: url(img/bg-fundo-2.jpeg)
}

/* Configurações principais */
ul{list-style: none;}

a{text-decoration: none;}

.clear{clear: both;}

#container{
    width: 96%;
    margin: 0 auto;
}

#area-conteudo{
    margin: 20px 0;
}


.navbar{
    background: #232336;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
}

.navbar-logo{float: left; margin: 10px; width: 100px;}

.mr-auto {float: right; margin-right: 30px;}

.nav-item{
    float: left;
    padding: 30px 10px;
}

.menu-lateral{
    width: 13%;
    float: left;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.postagens{
    float: right;
    width: 86%;
    border: 1px solid #d2d2d2;
    color: #fff;
}

footer{
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.carousel{
    width: 62.5%;
    margin: 20px auto;
    background: #d2d2d2;
    border: 1px solid #ffffff65;
}

.pesquisa{
    width: 550px;
    height: auto;
    float: left;
    background: #151b55;
    position: relative;
    top: 10px;
    left: 120px;
}

#pesquisa{
    width: 550px;
    height: 50px;
    background: #fff;
    color: #000000;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    display: block;
}

.search{
    position: absolute;
    top: 10px;
    right: 0;
}

.number{
    width: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

/* Configurações em Geral */
/* Carrosel */
.carousel-item{
    margin-left:2px;
}

.carousel img{
    width: 100%;;
}

/* Menu de Navegação */
.nav-item a:hover{text-decoration: underline;}

.nav-item a{
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-logo img{
    padding: 10px;
}

/* Menu Lateral */
.menu-lateral li{
    padding: 2px;
}

.menu-lateral h5{
    padding: 5px;
    font-weight: bold;
    width: 80%;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 auto;
    border-bottom: 1px solid #7a7a7a;
}

.menu-lateral a{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.menu-lateral a:hover{
    text-decoration: underline;
}


/* Postagems - Livros - Genero*/
.livro-postagem, .genero-postagem{
    width: 100%;
    padding: 12px;
}

.livro-item{
    width: 243px;
    border: 1px solid #ffffff79;
    border-radius: 2px;
    background: #000000;
    display: inline-block;
    padding: 3px;
    margin: 3px auto;
}

.livro-link{
    text-align: center;
    color: #fff;
}

.livro-link:hover{
    text-decoration: underline;
}

/* Numeros */
.number a{
    padding: 5px;
    color: #fff;
}

.number a:hover{
    text-decoration: underline;
}

/*---------------------------- Responsivo ---------------------------------------*/
@media (max-width: 768px){
    .menu-lateral{
        display: none;
    }

    #container{
        width: 95%;
    }
}
